// figure out a better way to do this
@import "../../client/css/custom.bootstrap.import.less";
@import "../../client/css/docgraph.less";

.node-list-panel {
    height: 85vh;
    overflow: scroll;

    .panel-title {
        border-radius: @border-radius-small;
        cursor: pointer;
    }
}

.node-preview .panel-body {
    height: 125px;
    overflow: scroll;
}

.node-list-panel-controls select {
    width: auto;
}

.node-list-panel .node-preview pre {
    font-size: 13px;
    line-height: 1;
}