// figure out a better way to do this
@import "../../client/css/custom.bootstrap.import.less";
@import "../../client/css/docgraph.less";

span.selection-border {
		cursor: pointer;
}

span.selection-marker {
		background-color: @hightlight-color !important;
}


.viewer {
		margin: 0;
}
