// figure out a better way to do this
@import "../../client/css/custom.bootstrap.import.less";

.selection-marker {
		background-color: yellow;
}

.content-viewer pre {
		background-color: @body-bg;
		border: 0;
		font-family: @font-family-serif;
		font-size: @font-size-large;
		margin: 0;
		padding: 0;
		white-space: pre-wrap;
		word-break: normal;
}

.viewer {
		margin: 0;
}
